# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
env/

# IDEs
.vscode/
.idea/

# Environment variables
.env
*.env

# Docker data
speach/adaptive_assistant_redis/redis_data/